#text{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    display: flex;
    justify-content: center;
}

#privacy{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-top: 15px;
    margin-right: 20px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    text-decoration-line: underline;
}

body, html{
    background-color: hsl(180, 1%, 15%);
    height: 100%;
    margin: 0;


    background: linear-gradient(rgb(104, 37, 37) 50%, hsl(180, 1%, 15%) 100%);
}

span{
    color: rgb(214, 88, 88);
}

#mythical{
    color: rgb(201, 69, 227);
}

#legendary{
    color: rgb(227, 214, 69);
}

#searchContainer{
    width: 40px;
    margin-top: 8%;
    margin-left: 50%;
    height: 40px;
    white-space: nowrap;
}


#column{
    flex-direction: column;
    display: flex;
}

#infoContainer{
    width: 40px;
    margin-top: 7%;
    margin-left: 42%;
    gap: 2vw;
    text-align: center;
    width: 100px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-size: 10px;
}

#textSearch {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  margin-left: -115px;
  transition: all 0.5s;
}

#textSearch :hover,
#textSearch :focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

#submitSearch {
  border: 2px solid transparent;
  width: 6em;
  height: 2.5em;
  padding-left: 0.4em;
  outline: none;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s;
}
#submitSearch :hover {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

#image {
    margin-left: 38%;
    width: 5px;
    height: 5px;
}